<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Quiz PHP{% endblock %}</title>

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom-styles.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome-ie7.css') }}" rel="stylesheet">

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
        <script src="{{ asset('js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
