{% for label, messages in app.flashes(['warning', 'error','success']) %}
    {% for message in messages %}
        {% if label == 'error' %}
            {% set label = 'danger' %}
        {% endif %}
        <div class="alert text-center alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}