{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row-fluid">
            <div class="span8 offset2">
                <div class="site-header">
                    <div class="logo">
                        <h1>Quiz PHP</h1>
                    </div>
                    <div class="menu">
                        <div class="navbar">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <i class="fw-icon-th-list"></i>
                            </a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li><a href="{{ path('homepage') }}">Strona glowna</a></li>
                                    <li><a href="{{ path('start_quiz') }}">Zacznij quiz</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('question_list') }}">Lista pytan</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj sie</a>
                                    {% elseif app.user %}
                                        <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj sie</a>
                                    {% else %}
                                        <li><a href="{{ path('fos_user_security_login') }}">Zaloguj sie</a></li>
                                        <li><a href="{{ path('fos_user_registration_register') }}">Zarejestruj sie</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured-content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="block">
                                {% block page_body %}
                                    <img src="img/open_book.jpg" alt="">
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

