{% extends 'default/index.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_body %}

    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

{% endblock %}