{% extends 'default/index.html.twig' %}

{% block page_body %}

    <h3>Rejestracja</h3>

    <form name="registerForm" method="post" action="{{ path('fos_user_registration_register') }}">
        <div class="controls">
            {{ form_rest(form) }}
            <input type="submit" name="send" value="Wyslij"/>
        </div>
    </form>

{% endblock %}