{% extends 'default/index.html.twig' %}

{% block page_body %}

    {% embed 'default/flashInfo.html.twig' %}{% endembed %}

    <div style="margin: 10px; padding: 3px">
        <a href="{{ path('question_add') }}" class="btn btn-default">Dodaj pytanie</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="span2">Id pytania</th>
            <th class="span8">Tresc pytania</th>
            <th class="span2"></th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
        <tr>
            <td>{{ question.questionId }}</td>
            <td>{{ question.content }}</td>
            <td>
                <a href="{{ path('question_details', {id: question.questionId}) }}" title="Szczegoly">
                    <i class="icon-bookmark"></i>
                </a>

                <a href="{{ path('question_delete', {id: question.questionId}) }}" title="Usun pytanie">
                    <i class="icon-trash"></i>
                </a>

            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(questions) }}
    </div>

{% endblock %}