{% extends 'default/index.html.twig' %}

{% block page_body %}
    {% embed 'default/flashInfo.html.twig' %}{% endembed %}

    <h3>{{ pageTitle }}</h3>

    <form name="addQuestion" method="post">
        {{ form_rest(question_form) }}
    </form>

    <div>
        <a href="{{ path('question_list') }}" class="btn btn-default">Wroc do listy pytan</a>
    </div>

{% endblock %}