{% extends 'default/index.html.twig' %}

{% block page_body %}

    {% embed 'default/flashInfo.html.twig' %}{% endembed %}

    <table class="table table-bordered">
        <tr>
            <th class="span3">Tresc:</th>
            <td>{{ question.content }}</td>
        </tr>
        <tr>
            <th>Poziom:</th>
            <td>{{ question.difficulty }}</td>
        </tr>
        <tr>
            <th>Typ pytania:</th>
            <td>{{ question.isSingleorMulti ? 'Wielokrotnego wyboru' : 'Jednokrotnego wyboru' }}</td>
        </tr>
        <tr>
            <th>Data utworzenia:</th>
            <td>{{ created }}</td>
        </tr>
        <tr>
            <th>Aktywne:</th>
            <td>{{ question.active ? 'Tak' : 'Nie' }}</td>
        </tr>
    </table>

    <div style="margin: 10px; padding: 3px">
        <a href="{{ path('question_update', {id: question.questionId}) }}" class="btn btn-default">Edytuj pytanie</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="span2">Id odpowiedzi</th>
            <th class="span6">Treść odpowiedzi</th>
            <th class="span2">Poprawna</th>
            <th class="span2"></th>
        </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.answerId }}</td>
                <td>{{ answer.content }}</td>
                <td>{{ answer.correct ? 'Tak' : 'Nie' }}</td>
                <td>
                    <a href="{{ path('answer_update', {question_id: id, id: answer.answerId}) }}"
                       title="Edytuj odpowiedz">
                        <i class="icon-comment"></i>
                    </a>

                    <a href="{{ path('answer_delete', {question_id: id, id: answer.answerId}) }}"
                       title="Usun odpowiedz">
                        <i class="icon-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="margin: 10px; padding: 3px">
        <a href="{{ path('answer_add', {question_id: question.questionId}) }}" class="btn btn-default">Dodaj
            odpowiedz</a>
    </div>

{% endblock %}