{% extends 'default/index.html.twig' %}

{% block page_body %}
    {% embed 'default/flashInfo.html.twig' %}{% endembed %}

    <h3>{{ pageTitle }}</h3>

    <form name="addAnswer" method="post">
        {{ form_rest(answer_form) }}
    </form>

    <div>
        <a href="{{ path('question_details', {id: question_id}) }}" class="btn btn-default">Wroc do pytania</a>
    </div>

{% endblock %}