{% extends 'default/index.html.twig' %}

{% block page_body %}

    <h3>Logowanie</h3>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form name="loginForm" method="post" action="{{ path('fos_user_security_check') }}">

        <div class="controls">
            <input type="text" name="_username" class="span5" placeholder='Nazwa uzytkownika'/>
            <input type="password" name="_password" class="span5" placeholder='Haslo'/>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <button type="submit" name="send" value="Wyslij">
            <span>Zaloguj</span>
            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
        </button>
    </form>

{% endblock %}