{% extends 'default/index.html.twig' %}

{% block page_body %}
    {% embed 'default/flashInfo.html.twig' %}{% endembed %}

    <div style="padding: 3px">
        <strong>{{ question.Content }}</strong>
    </div>

    <form name="quiz" id="form_quiz" method="post">

        <div class="form-horizontal form_answers">
            {% for answer in answers %}
                <input name="answer[]"
                       type="{{ type ? "checkbox" : "radio" }}"
                       value="{{ answer.answerId }}"
                       required
                        {#sprawdzanie czy odpowiedz juz byla wczesniej zaznaczona przez uzytkownika#}
                        {% for checked_answer_id in checked_answers %}
                            {% if checked_answer_id == answer.answerId %}
                                checked
                            {% endif %}
                        {% endfor %}
                >
                {{ answer.Content }}<br/>
            {% endfor %}
        </div>
        <br/>

        {% if id != 0 %}
            <input type="submit" name="prev" value="Poprzednie pytanie"/>
        {% endif %}

        {% if id != questions_count-1 %}
            <input type="submit" name="next" value="Nastepne pytanie"/>
        {% else %}
            <input type="submit" name="end" value="Zakoncz quiz"/>
        {% endif %}

    </form>
{% endblock %}

{% block javascripts %}

    {# sprawdzenie czy przynajmniej jeden checkbox jest zaznaczony #}
    <script>
        var requiredCheckboxes = $('.form_answers :checkbox[required]');
        requiredCheckboxes.change(function () {
            if (requiredCheckboxes.is(':checked')) {
                requiredCheckboxes.removeAttr('required');
            } else {
                requiredCheckboxes.attr('required', 'required');
            }
        });
    </script>

{% endblock %}