{% extends 'default/index.html.twig' %}

{% block page_body %}
    {% embed 'default/flashInfo.html.twig' %}{% endembed %}

    <div>
        <h4 style="color:#f3d890;" align="center">Twoj wynik to {{ result }}%.</h4>
    </div>

    {% for question in questions %}
        <div>
            <h5 style="color:
                    /*sprawdzenie czy pytanie jest zaliczne*/
            {% if question in correct_questions %}
                    green;
            {% else %}
                    red;
            {% endif %}
                    ">
                {{ question.content }}
            </h5>
            <ol>
                {% for answer in answers %}
                    {% if answer.question.questionId == question.questionId %}
                        <li style="color:
                                /*sprawdzenie czy odpowiedz byla zaznaczona przez uzytkownika i czy jest poprawna*/
                        {% if (answer in user_answers) and (answer.correct == true) %}
                                green;
                        {% elseif (answer in user_answers) and (answer.correct == false) %}
                                red;
                        {% endif %}
                                ">{{ answer.content }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {# wyswietlanie komunikatow #}
    {% if result > 80 %}
        <script type="text/javascript">
            alert("Gratulacje! Quiz zostal zaliczony! Twoj wynik to {{ result }}%.");
        </script>
    {% else %}
        <script type="text/javascript">
            alert("Quiz jest niezaliczony! Musisz go powtorzyc. Twoj wynik to {{ result }}%.");
        </script>
    {% endif %}
{% endblock %}
