{% extends 'default/index.html.twig' %}

{% block page_body %}
    {% embed 'default/flashInfo.html.twig' %}{% endembed %}

    <form name="start_quiz" method="post">

        <div class="form-horizontal">
            <label for="difficulty">Wybierz poziom</label>
            <select name="difficulty" id="difficulty" required>
                <option value="" disabled selected>Wybierz poziom trudnosci</option>
                {% for difficulty in difficulties %}
                    <option value="{{ difficulty.difficultyId }}">{{ difficulty.difficultyName }}</option>
                {% endfor %}
            </select>
        </div>

        <br/>

        <div class="form-horizontal">
            <label for="questions_count">Wybierz liczbe pytan (max. 20)</label>
            <input type="number" min="1" name="questions_count" id="questions_count" required>
        </div>

        <br/>

        <input type="submit" name="send" value="Rozpocznij!"/>
    </form>

{% endblock %}
